.App {
  text-align: center;
}

#resultspage {
  display: flex;
  border: 1px solid lightgrey;
  width: 90%;
  border-radius: .5rem;
  margin: auto;
  padding: 3rem;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  padding: 1em;
  margin: auto;
}

.card {
  margin: auto;
  text-align: center;
  border: .5px solid lightgray;
  width: 60%;
  padding: 1rem 0 2rem;
  border-radius: .3em;
}

.scaletext {
  padding: 0 1rem;
}

.answerbox {
  margin: auto;
  min-width: 50%;
  margin-top: 2.5rem;
}

.dots {
  padding: 0 1.5em;
}

.perspective {
  display: flex;
  padding: .5em 0;
}

.bar.coloured {
  border: 1px solid purple;
  background-color: purple;
}

.bar {
  width: 200px;
  height: 1em;
  border: 1px solid lightgrey;
}

.inline {
  width: 30%;
}

#emailinput {
  min-width: 50%;
  height: 2rem;
}

input {
  margin: .5em;
}

