.App {
  text-align: center;
}

.card {
  margin: auto;
  text-align: center;
  border: .5px solid lightgray;
  width: 60%;
  padding: 1rem 0 2rem;
  border-radius: .3em;
}

.scaletext {
  padding: 0 1rem;
}

.answerbox {
  margin: auto;
  min-width: 50%;
  margin-top: 2.5rem;
}

.dots {
  padding: 0 1.5em;
}

#emailinput {
  min-width: 50%;
  height: 2rem;
}

input {
  margin: .5em;
}

